@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
    font-family: 'Poppins', sans-serif;
}

/* nav bar*/
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 1rem 2rem;
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: #597fb1;
    text-decoration: none;

}

.middle-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.middle-nav li {
    margin-left: 1.5rem;
    transition: transform 0.4s ease-in-out;
}


.main-nav-link {
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;

}

.main-nav ul li:hover {
    color: #597fb1;
    text-decoration: 4px solid underline;
    transform: scale(1.1);

}

.double-buttons {
    display: flex;
    align-items: center;
}

.double-buttons button {
    background-color: #ffffff00;
    border: 1px solid #fff;
    border-radius: 0.6rem;
    padding: 0.8rem 2rem;
    color: #fff;
    font-weight: 400;
    margin: 0.5rem;
    border-width: 1px;
    transition: all 0.4s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.double-buttons .create {
    color: black;
    border: 2px solid black;
    box-sizing: border-box;
}

.double-buttons .login {
    background: #597fb1;
    border: none;
}

.double-buttons button:hover {
    transform: scale(1.1);
}

header {
    position: relative;
}

.dropdown-menu {
    padding: 0px;
    margin-top: 0px;
    display: none;
    list-style: none;
    text-align: start;
    width: 300px;
    border-radius: 0.3rem;
    position: absolute;
    right: 2rem;
    background-color: #1c154be7;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    height: 0px;
    overflow: hidden;
    transition: all 0.4 ease-in-out;
}

.nav-dropdown-btn {
    display: none;
    font-size: 2rem;
}

.dropdown-menu.open {
    height: unset;
    transition: height 0.5s ease-in-out;
}

.dropdown-menu>* {
    margin: 0.5rem 1rem;
    text-decoration: none;
}

/*--------------nav bar end ---------------*/

/*---footer-------*/
footer {
    padding: 2rem 2rem;
}

.big-footer {
    display: grid;
    grid-template-columns: 30% 1fr 1fr 1.5fr;
    gap: 20px;

}

.big-footer div {
    text-align: start;
    margin-top: 1rem;
}

.big-footer ul {
    list-style: none;
    padding: 0px;
}

.big-footer>div>a {
    font-size: 1.2rem;
    font-weight: 600;
}

.big-footer a {
    text-decoration: none;
    font-size: 1.1rem;
}

.big-footer h4 {
    font-weight: normal;
}


.end-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.end-footer * {
    color: rgb(136, 136, 136);
    text-decoration: none;
}


@media screen and (max-width:890px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 0.9rem;
    }

    .main-nav a {
        font-size: 1rem;
    }

    .main-nav button {
        transform: scale(0.8);
    }

    .big-footer>div>a {
        font-size: 1rem;
        font-weight: 600;
    }

    .big-footer a {
        text-decoration: none;
        font-size: 1rem;
    }

    .big-footer h4 {
        font-weight: normal;
    }

}

@media screen and (max-width:768px) {
    h1 {
        font-size: 1.7rem;
    }

    p {
        font-size: 0.85rem;
    }


    .middle-nav {
        display: none;

    }

    .main-nav .create {
        display: none;
    }

    .nav-dropdown-btn {
        display: inline-block;
    }

    .dropdown-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .big-footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .big-footer h4 {
        min-width: 90%;
    }


}

@media screen and (max-width:485px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.3em;
    }

    .dropdown-menu {
        left: 2rem;
        width: unset;
    }

    .product-section {
        grid-template-columns: 1fr;
    }

    footer {
        padding: 1em;
    }

    .big-footer ul {
        width: 26%;
    }
}